extends ../layout/index


block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center bus
            span.font-normal Cancha
        h2.text-center.text-3xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p(class="text-red-500 text-center m-1 mx-auto font-bold bg-or")= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/registro" noValidate)
                    input(type="hidden", name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Tu nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeolder-gray-400(placeholder="tu nombre" type="text" name="nombre" value= usuario? usuario.nombre:"")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email de registro
                        input#mail.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeolder-gray-400(placeholder="tu email" type="email" name="email" value= usuario? usuario.email:"")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeolder-gray-400(placeholder="password" type="password" name="password")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetir_password") Repetir Password
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeolder-gray-400(placeholder="repite tu password" type="password" name="repetir_password")
                    div(class="flex items-center justify-between")
                        a(href="/auth/login" class="text-gray-500 text-sm") ¿Ya tenes cuenta?
                    input(type="submit" value="Crear Cuenta" class="w-full bg-indigo-500 hover:bg-indigo-300 text-white font-bold py-3 cursor-pointer")