extends ../layout/index


block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center bus
            span.font-normal Cancha
        h2.text-center.text-3xl.font-extrabold= pagina
            if errores
                div(class="max-w-md mx-auto my-10")
                    each error in errores
                        p(class="text-red-500 text-center m-1 mx-auto font-bold bg-or")= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/reset-password" noValidate)
                    input(type="hidden", name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#mail.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeolder-gray-400(placeholder="tu email" type="email" name="email")
                    input(type="submit" value="Enviar Instrucciones" class="w-full bg-indigo-500 hover:bg-indigo-300 text-white font-bold py-3 cursor-pointer")