
header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bus
            span.font-normal Cancha

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(class="py-2 px-10 rounded-lg " href="") mis propiedades
            a(class="py-2 px-10 rounded-lg " href="") mi perfil
            a(class=" bg-indigo-800 py-2 px-10 rounded-lg " href="") cerrar sesion